name: CI
on:
  push:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build
        run: |
          npm ci
          npm run build
      - uses: ./
        id: package
        with:
          path: package.json
          trim: true
      - name: Echo package version
        run: echo "${{ fromJson(steps.package.outputs.content).version }}"
