name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Build
        run: |
          npm ci
          npm run build
      - uses: ./
        id: package
        with:
          path: package.json
          trim: true
      - name: Echo package version
        run: echo "${{ JSON.parse(steps.package.outputs.content).version }}"
